{{#description}}
{{description}}
{{/description}}
{{^description}}
<div class="centered">
	<h1>{{question}}</h1>
    <ul id="answers" data-question-id="{{id}}">
    {{#answers}}
        <li data-answer-id="{{id}}">
        {{#total}}
        {{text}} {{amount}} votes
        {{/total}}
        {{^total}}
            <input type="radio" name="answerId" value="{{id}}"> {{text}}
        {{/total}}
        </li>
    {{/answers}}
    </ul>
    {{^total}}
    <input type="button" id="cast-vote" class="btn btn-primary" value="Cast Vote"/>
    {{/total}}
</div>
{{/description}}